#title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}
#content {
  overflow: hidden;
  width: 100%;
}
.common-ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-all;
  margin: 0;
  overflow: hidden;
}
#content > li {
  float: left;
  width: 206px;
  height: 312px;
  margin-bottom: 10px;
  border: 1px solid #e8e8e8;
}

#content > li:not(:nth-child(5n)) {
  margin-right: 10px;
}

#content dt {
  position: relative;
  font-size: 0;
}

#content .quan-img {
  position: relative;
  display: inline-block;
  width: 206px;
  height: 206px;
  line-height: 206px;
  margin-bottom: 16px;
  overflow: hidden;
}

#content .quan-img > img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#content .quan-price {
  display: inline-block;
  position: absolute;
  bottom: 12px;
  right: 0;
  width: 92px;
  height: 28px;
  line-height: 28px;
  color: #f22f4a;
  font-weight: 700;
  font-size: 12px;
  /* for IE9 IE8 IE7 not sure about IE6*/
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ccffffff', endColorstr='#ccffffff');
  background-color: rgba(255, 255, 255, 0.8);

  text-align: center;
}

:root #content .quan-price {
  /*
     * IE9 由于rgba和filter都支持，会导致两个颜色叠加，使用hack去除
     * \9 代表 IE9 以下浏览器支持
     * :root 只有 IE9+ 以及其他现代浏览器支持
     * IE10 以上不再支持 filter
    */
  -webkit-filter: none;
  filter: none;
}

#content .quan-title {
  display: inline-block;
  cursor: pointer;
  line-height: 20px;
  height: 40px;
  font-size: 16px;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

#content .quan-title > a:hover {
  color: #f22f4a;
}

#content .quan-title:hover {
  color: #f22f4a;
}

#content p {
  padding: 0 8px;
}

#content .quan-detail {
  margin-top: 10px;
}

#content .quan-tips {
  float: left;
  display: inline-block;
  height: 17px;
  line-height: 17px;
  border: 1px dotted #f22f4a;
  color: #f22f4a;
  vertical-align: middle;
}

#content .quan-tips > span:first-child {
  border-right: 1px dotted #f22f4a;
  padding: 0 4px;
}

#content .quan-tips > span:last-child {
  display: inline-block;
  text-align: center;
  padding: 0 4px;
}

#content .quan-link {
  float: right;
  display: inline-block;
  width: 68px;
  height: 18px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background: #f22f4a;
  vertical-align: middle;
}