<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= static['adminLoginPage.css'] %>">
</head>
<body>
<div id="app"></div>
<p></p>
<!--<script src="/output/dist/js/vendor.js"></script>-->
<script src="<%= static['vendor.js'] %>"></script>
<script src="<%= static['adminLoginPage.js'] %>"></script>
<!--<script src="/output/distadminLoginPage.jsxe.js"></script>-->
<!--<form action="/admin/login" method="post">-->
  <!--<input type="text" name="user">-->
  <!--<input type="password" name="password">-->
  <!--<input type="submit" value="submit">-->
<!--</form>-->
</body>
</html>
