<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/output/dist/css/admin.css">
</head>
<body>
<form action="/test/uploadFile" method="post" enctype="multipart/form-data">
  <input type="file" name="img" multiple="multiple" />
  <button id="upload" type="submit">上传</button>
</form>

</body>
</html>
