<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= static['editGoodPage.css'] %>">
  <style>
  </style>
</head>
<body>
<div id="app" style="width: 820px; position: relative; left: 200px"></div>
<script src="<%= static['vendor.js'] %>"></script>
<script src="<%= static['editGoodPage.js'] %>"></script>
</body>
</html>
