<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
  <link rel="stylesheet" href="./output/util/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="<%= static['loginPage.css'] %>">
  <script src="/output/util/js/jquery.min.js"></script>
  <script src="/output/util/js/bootstrap.min.js"></script>
  <script src="/output/util/js/bootstrapValidator.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div id="app"></div>
<script src="<%= static['vendor.js'] %>"></script>
<script src="<%= static['loginPage.js'] %>"></script>

</body>

</html>
